{{!--
@Author: Colin Osterhout <ctosterhout>
@Date:   2016-05-18T09:45:05-08:00
@Email:  ctosterhout@alaska.edu
@Project: BERT
@Last modified by:   ctosterhout
@Last modified time: 2016-06-01T23:05:22-08:00
@License: Released under MIT License. Copyright 2016 University of Alaska Southeast.  For more details, see https://opensource.org/licenses/MIT
--}}


{{! Simple template that doesn't take any parameters yet at this time.  Used to keep snippets in one spot. }}
<div class="form-dynamic-controls">
    <a href="#" class='form-add-item' aria-label='Add additional item'><i class="fa fa-plus"></i></a>
    <a href="#" class='form-del-item' aria-label='Remove form item'><i class="fa fa-minus"></i></a>
</div>
{{! Give some space below }}
<div class="clearfix"></div>
