{{!
Form input template

Expected object definition:
    type (string): Corresponds to input type attribute
    id - used for the name and id fields
    value - preset value
    label - if present, creates a label
    type - defaults to 'text'. Alternate types: 'email', 'password', etc.
    placeholder - placeholder text
}}

<div class="control-group">
    {{#if label}}
        {{label id label class='control-label'}}
    {{/if}}
    <div class="controls">
        {{input id value type=type placeholder=placeholder}}
    </div>
</div>
