$color-uas-blue: rgb(55,92,157);
$color-uas-green: rgb(169,188,71);
$color-uas-orange: rgb(200,155,54);
$color-uas-salmon: rgb(122,64,97);
$color-uas-regional: $color-uas-blue;
$color-uas-juneau: $color-uas-green;
$color-uas-sitka: $color-uas-orange;
$color-uas-ketchikan: $color-uas-salmon;