{{!
Form input (select) template

Expected object definition:
    type (string): Corresponds to input type attribute
    id - used for the name and id fields
    value - preset value
    label - if present, creates a label
    hide_label - if set, hides the label from view but makes it available to screenreaders
    type - defaults to 'text'. Alternate types: 'email', 'password', etc.
    placeholder - placeholder text
}}

<div class="control-group">
    {{#if label}}
        {{label id label}}
    {{/if}}
    <div class="controls">
        {{select id options selected multiple=multiple}}
    </div>
</div>
